<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputUsername4">Username</label>
      <input type="text" id="inputUsername4" class="form-control" placeholder="Username" autocomplete="off" [formControl]="userName" required>
      <label class="errorMessage" *ngIf="userName.invalid">{{userNameErrorMessage}}</label>
    </div>
    <div class="form-group col-md-6">
      <label for="inputUsername4">Gender</label>
      <input type="text" id="inputGender" class="form-control" placeholder="Gender" [formControl]="gender" required>
      <label class="errorMessage" *ngIf="gender.invalid">{{genderErrorMessage}}</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputContact">Email</label>
      <input type="text" class="form-control" id="inputEmail" placeholder="Your Email (Example: abc@example.com)" [formControl]="email" required>
      <label class="errorMessage" *ngIf="email.invalid">{{emailErrorMessage}}</label>
    </div>
    <div class="form-group col-md-6">
      <label for="inputContact">Contact</label>
      <input type="text" class="form-control" id="inputContact" placeholder="Your Contact (Example: 9888899998)" [formControl]="contact" required>
      <label class="errorMessage" *ngIf="contact.invalid">{{contactErrorMessage}}</label>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputDateOfBirth4">Date Of Birth</label>
      <ejs-datepicker id='datepicker' placeholder='Date Of Birth' [formControl]="dob" required></ejs-datepicker>
      <label class="errorMessage" *ngIf="dob.invalid">{{dobErrorMessage}}</label>
    </div>
  </div>
  <div><label class="errorMessage">{{ErrorMessage}}</label></div>

  <button type="submit" class="btn btn-primary btn-sm mr-1" (click)="OnSave()"><span class="fa fa-save"></span>&nbsp; Save</button>
  <button type="button" class="btn btn-warning btn-sm" (click)="OnCancel()"><span class="fa fa-close"></span>&nbsp; Cancel</button>
</form>
