<div class="container padding">
    <div class="row">
        <div class="col-md-12 border rounded text-center imageService">
            <H2>Services</H2>
        </div>

    </div>
</div>

<div class="container padding">
    <div class="row">

        <div class="col-md-12">
            <div class="container">
                <div class="row">

                    <div *ngFor="let service of services" class="card col-md-4 text-center">
                        <div class="image"></div>
                        <div class="card-body">
                            <h5 class="card-title">{{service.serviceName}}</h5>
                            <p class="card-text">{{service.shortIntro}}</p>
                            <a routerLink="/home/services/view/{{service.serviceId}}" class="btn btn-primary">Read More</a>
                        </div>
                    </div>

                </div>

                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center padding">
                        <li class="page-item">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>
    </div>
</div>