<div class="mt-3"></div>

<div class="row m-2">
    <div class="col-12 text-center">
        <button type="button" class="btn btn-success btn-sm mr-1" (click)="onRefresh()"><span class="fa fa-refresh"></span>&nbsp; Refresh</button>
        <button type="button" class="btn btn-primary btn-sm" (click)="fnAddChart()"><span class="fa fa-plus"></span>&nbsp; Add Chart</button>
    </div>
</div>
<!--Search section-->
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text fa fa-search" id="basic-addon1"></span>
    </div>
    <input type="text" class="form-control" placeholder="Search Charts" aria-label="Username" [(ngModel)]="searchText" aria-describedby="basic-addon1">
</div>
<!--Search section-->
<!--Loader-->
<div *ngIf="loader" class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!--Loader-->
<!--View Section-->
<div class="list-group" *ngFor=" let chart of pageOfItems | filter : searchText">
    <div class="list-group-item list-group-item-action flex-column align-items-start mb-1">
        <!--<small>{{user.registrationNumber}}</small>-->
        <div class="d-flex w-100 justify-content-between">
            <h4 class="mb-1">{{chart.name}}</h4>
        </div>
        <div class="row">
            <span class="col-lg-4 col-md-12 col-sm-12">Published By: {{chart.createdBy}}</span>
            <span class="col-lg-4 col-md-12 col-sm-12">Published Date: {{chart.createdDate}}</span>
        </div>
        <div class="row">
            <span class="col-12 text-right mt-2"><button type="button" class="btn btn-primary btn-sm mr-1" (click)="fnviewChart(chart)" [disabled]="isDisabled"><span class="fa fa-eye"></span>&nbsp; View and Clone</button>
            </span>
        </div>
    </div>
</div>
<!--Pagination-->
<div class="mt-3">
    <jw-pagination [items]="charts" [initialPage]="1" [pageSize]="10" [maxPages]="2" (changePage)="onChangePage($event)">
    </jw-pagination>
</div>

<!--Pagination-->
<!--View Section-->
<hr>
<!--Detailed View-->
<div *ngIf="viewChart" class="mt-5">
    <div class="text-right my-2">
        <button type="button" class="btn btn-warning btn-sm mr-1" (click)="close()" [disabled]="isDisabled"><span class="fa fa-close"></span>&nbsp; Close
        </button>
    </div>
    <form>
        <div class="form-group">
            <label for="formGroupExampleInput">Chart Name</label>
            <input [(ngModel)]="chart.name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Name" [formControl]="chartName" required>
            <label class="errorMessage" *ngIf="chartName.invalid">{{chartNameErrorMessage}}</label>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Chart Remarks</label>
            <textarea [(ngModel)]="chart.remarks" class="form-control" id="formGroupExampleInput2" aria-label="With textarea" placeholder="Remarks" [formControl]="chartRemark" required></textarea>
            <label class="errorMessage" *ngIf="chartRemark.invalid">{{chartRemarkErrorMessage}}</label>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput4">Chart Mail Subject</label>
            <input [(ngModel)]="chart.mailsubject" type="text" class="form-control" id="formGroupExampleInput4" placeholder="Subject" [formControl]="chartMailSubject" required>
            <label class="errorMessage" *ngIf="chartRemark.invalid">{{chartMailSubjectErrorMessage}}</label>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput3">Chart Mail Content</label>
            <quill-editor [styles]="editorStyle" [modules]="modules" [(ngModel)]="chart.mailcontent" [formControl]="chartMailBody" required></quill-editor>
            <label class="errorMessage" *ngIf="chartMailBody.invalid">{{chartMailBodyErrorMessage}}</label>
        </div>
        <!--Upload Attachments-->
        <div class="container mb-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 text-right">
                                <span class="hidden-file" style="visibility: hidden;">
                            <input type="file" #fileInput ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" />
                        </span>
                                <button type="button" class="btn btn-primary btn-sm" (click)="fileInput.click()"><span class="fa fa-plus"></span>&nbsp; Add Attachments</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Size</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of selectedFilesToBeUploaded">
                                <td>
                                    {{ item.Name }}
                                </td>
                                <td>
                                    {{ item.FileSize/1024/1024 | number:'.2' }} MB
                                </td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-xs" (click)="onFileRemove(item)">
                                <span class="glyphicon glyphicon-trash"></span> 
                                    Remove
                            </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="col-md-12 mt-5">
                    <button *ngIf="selectedFilesToBeUploaded.length > 0" type="submit" class="btn btn-primary btn-sm mr-1" (click)="uploadDocuments()"><span class="fa fa-save"></span>&nbsp; Upload Documents</button>
                    <button type="button" class="btn btn-warning btn-sm" (click)="OnCancel()"><span class="fa fa-close"></span>&nbsp; Cancel</button>
                </div> -->

            </div>
        </div>
        <div><label class="errorMessage">{{ErrorMessage}}</label></div>
        <button type="submit" class="btn btn-primary btn-sm mr-1" (click)="OnSendChart()"><span class="fa fa-save"></span>&nbsp; Send Mail</button>
        <button type="button" class="btn btn-warning btn-sm" (click)="close()"><span class="fa fa-close"></span>&nbsp; Cancel</button>
    </form>
</div>
<!--Detailed View-->