
<form>
  <div class="form-group">
    <label for="formGroupExampleInput">Service Name</label>
    <input [(ngModel)]="service.serviceName" type="text" class="form-control" id="formGroupExampleInput" placeholder="Service Name" [formControl]="serviceName" required>
    <label class="errorMessage" *ngIf="serviceName.invalid">{{serviceNameErrorMessage}}</label>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Service Short Introduction</label>
    <textarea [(ngModel)]="service.shortIntro" class="form-control" id="formGroupExampleInput2" aria-label="With textarea" placeholder="Service Short Introduction" [formControl]="shortInfo" required></textarea>
    <label class="errorMessage" *ngIf="shortInfo.invalid">{{shortInfoErrorMessage}}</label>
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput3">Service Content</label>
    <textarea [(ngModel)]="service.content" class="form-control" id="formGroupExampleInput3" aria-label="With textarea" placeholder="Service Content" [formControl]="content" required></textarea>
    <label class="errorMessage" *ngIf="content.invalid">{{contentErrorMessage}}</label>
  </div>
  <div><label class="errorMessage">{{ErrorMessage}}</label></div>
  <button type="submit" class="btn btn-primary" (click)="OnUpdateService()">Update Service</button>
</form>
