<div class="mt-3"></div>
<!--Loader-->
<div *ngIf="loader" class="d-flex justify-content-center">
    <div class="spinner-border text-success" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>

<div *ngIf="!loader">
    <input type="checkbox" class="form-check-input" id="Check1" [(ngModel)]="isService">
    <label class="form-check-label" for="Check1">Is this a Service ?</label>
</div>
<div class="mt-3"></div>

<form *ngIf="!loader">
    <div class="form-group">
        <label *ngIf="!isService" for="formGroupExampleInput">Article Name</label>
        <label *ngIf="isService" for="formGroupExampleInput">Service Name</label>
        <input [(ngModel)]="article.name" type="text" class="form-control" id="formGroupExampleInput" placeholder="Name" [formControl]="articleName" required>
        <label class="errorMessage" *ngIf="articleName.invalid">{{articleNameErrorMessage}}</label>
    </div>
    <div class="form-group">
        <label *ngIf="!isService" for="formGroupExampleInput2">Article Short Introduction</label>
        <label *ngIf="isService" for="formGroupExampleInput">Service Short Introduction</label>
        <textarea [(ngModel)]="article.shortIntro" class="form-control" id="formGroupExampleInput2" aria-label="With textarea" placeholder="Short Introduction" [formControl]="shortInfo" required></textarea>
        <label class="errorMessage" *ngIf="shortInfo.invalid">{{shortInfoErrorMessage}}</label>
    </div>
    <div class="form-group">
        <label *ngIf="!isService" for="formGroupExampleInput3">Article Content</label>
        <label *ngIf="isService" for="formGroupExampleInput">Service Content</label>
        <!-- <textarea [(ngModel)]="article.content" class="form-control" id="formGroupExampleInput3" aria-label="With textarea" placeholder="Article Content" [formControl]="content" required></textarea> -->
        <quill-editor [styles]="editorStyle" [modules]="modules" [(ngModel)]="article.content" [formControl]="content" required></quill-editor>
        <label class="errorMessage" *ngIf="content.invalid">{{contentErrorMessage}}</label>
    </div>
    <div><label class="errorMessage">{{ErrorMessage}}</label></div>
    <button type="submit" class="btn btn-primary btn-sm mr-1" (click)="OnUpdateArticle()"><span class="fa fa-save"></span>&nbsp; Save</button>
    <button type="button" class="btn btn-warning btn-sm" (click)="OnCancel()"><span class="fa fa-close"></span>&nbsp; Cancel</button>
</form>